ul(id="queue-navtabs", class="nav nav-tabs")
  li(id="queue-navtab-li", role="presentation")
    a(id="queue-navtab-a", href="#queue-tab", data-toggle='tab') Queue
  li(id="settings-navtab-li", role="presentation", class="active")
    a(id="settings-navtab-a", href="#settings-tab", data-toggle='tab') Settings
div(id="queue-tab-content", class="tab-content")
  div(class="tab-pane" id="queue-tab")
    div(class='panel panel-default', id='queue-panel')
      table(class='table', id='queue-banner')
        tbody
          tr
            th
              input(id='select-all', type='checkbox',
                    data-toggle='tooltip', title='Select all',
                    style='visibility:hidden')
              label(for='select-all', style='font-weight: normal; display: none;'
                    id='select-all-label') Select all
            th(class='right', id='queue-buttons')
              div(class='input-group input-group-md')
                button(class='btn btn-default', type='button', id='shuffle',
                       data-toggle='tooltip', data-placement='top',
                       title='Shuffle')
                  span(id='shuffle-icon', class='glyphicon glyphicon-random')
                button(class='btn btn-default right', type='button', id='delete-track',
                       data-toggle='tooltip', data-placement='top',
                       title='Delete')
                  span(id='delete-track-icon', class='glyphicon glyphicon-remove')
                button(class='btn btn-default', type='button', id='send-to-bottom',
                       data-toggle='tooltip', data-placement='top',
                       title='Send to bottom')
                  span(id='send-to-bottom-icon', class='glyphicon glyphicon-chevron-down')
                button(class='btn btn-default left', type='button', id='send-to-top',
                       data-toggle='tooltip', data-placement='top',
                       title='Send to top')
                  span(id='send-to-top-icon', class='glyphicon glyphicon-chevron-up')

      div(class='panel-body')
        div(id='video-queue', class='jub-list')

  div(class="tab-pane active" id="settings-tab")
    div(class='panel panel-default', id='settings-panel')
      div(class='panel-body')
        input(id='requeue-videos', type='checkbox')
        label(for='requeue-videos') Requeue videos when they finish

script.

  var my_queue = [];

  function update_queue_buttons() {
    var dur = 100;
    if ($('#video-queue li input:checkbox:checked').length > 0) {
      $('#delete-track').fadeIn(dur);
      $('#send-to-top').fadeIn(dur);
      $('#send-to-bottom').fadeIn(dur);
    } else {
      $('#delete-track').fadeOut(dur);
      $('#send-to-top').fadeOut(dur);
      $('#send-to-bottom').fadeOut(dur);
    }
  }

  function update_select_all() {
    if ($('#video-queue li input:checkbox').length > 0) {
      $('#select-all').css('visibility', 'visible');
      $("label[for='select-all']").show();
    } else {
      $('#select-all').css('visibility', 'hidden');
      $("label[for='select-all']").hide();
    }
    $('#select-all').prop('checked', false);
    $('#select-all-label').text('Select all (' + my_queue.length + ')');
  }

  function selected_tracks() {
    var indices = [];
    var boxes = $('#video-queue li input:checkbox');
    boxes.each(function(i,v) {
      if (v.checked) {
        indices.push(boxes.length - i - 1);
      }
    });
    return indices;
  }

  // shift + click http://4pcbr.com/topic/grouped_checkboxes_select_with_shift__click
  function setup_shift_click() {
    var _last_selected = null;
    var checkboxes = $( "#video-queue li input:checkbox" );

    checkboxes.click( function( e ) {
      var ix = checkboxes.index( this );
      var checked = this.checked;
      if ( e.shiftKey && ix != _last_selected ) {
        checkboxes.slice( Math.min( _last_selected, ix ), Math.max( _last_selected, ix ) )
         .each( function() { this.checked = checked });
        _last_selected = null;
      } else { _last_selected = ix }
    })
  }

  $('#queue-navtabs a').click(function (e) {
    $(this).tab('show');
    $('#video-queue').trigger('redraw_items');
  })

  $('#requeue-videos').click(function (e) {
    var data = { requeueVideos: this.checked };
    socket.emit('user update preferences', get_username(), data);
  });

  function new_queue_li(video_obj, title_width) {
    var li = $('<li>').addClass('queue-item');
    var title_span = $('<span>').addClass('track');
    var time_span = $('<span>').addClass('duration');
    var chk = $('<input>').attr('type', 'checkbox').addClass('queue-chk')

    // Set initial checkbox state.
    chk.val($(this).is(':checked'));

    // The 'delete' and 'send to top' buttons only appear if a track is selected
    chk.change(update_queue_buttons);

    li.append(chk)
    li.append(title_span);
    li.append(time_span);

    var tformat = (video.duration / 1000) >= 3600 ? '%k:%M:%S' : '%M:%S';
    time = new Date(1970, 1, 1); // Unix epoch
    time.setSeconds(video.duration / 1000);
    time_span.text('(' + strftime(tformat, time).trim() + ')');

    title_span.text(video.title);

    title_span.truncate({
        width: title_width,
        token: '...',
        side: 'right',
        multiline: false
    });

    return li;
  }

  // Redraw queue, taking into account the current width of the list
  $('#video-queue').bind('redraw_items',function() {
    // 84 = 55 + 13 + 4 + 4 + 5 + 3
    // = duration width + checkbox width + checkbox padding + title margin-right + padding.
    // Can't read this from the page because the elements aren't on the
    // DOM yet. Need to compute this and truncate after everything is drawn.
    // TODO ^ use _.defer?
    // That will also solve #87.
    var pad = 84;
    var title_width = $(this).width() - pad;

    // if scrolling, add some more padding
    if (this.scrollHeight > $(this).height()) {
      title_width -= scrollbar_width(); // TODO seems to need a bit more
    }

    $(this).empty();
    for (video of my_queue) {
      var item = new_queue_li(video, title_width);
      $(this).prepend(item);
    }

    update_select_all();

    setup_shift_click();
  });

  function update_queue(queue) {
    if (queue) {
      my_queue = queue;
      $('#video-queue').trigger('redraw_items');
    }
    update_select_all();
    update_queue_buttons();
  };

  // Server tells us the contents of the queue
  socket.on('queue', function(queue) {
    update_queue(queue)
  });

  // Select all
  $('#select-all').on('click', function(e) {
    var that = this;
    $( "#video-queue li input:checkbox" )
      .each( function() { this.checked = that.checked });
    update_queue_buttons();
  });

  // Shuffle
  $('#shuffle').on('click', function(e) {
    socket.emit('shuffle', get_username(), update_queue);
    return false;
  });

  // Delete track(s)
  $('#delete-track').on('click', function(e) {
    socket.emit('delete tracks', get_username(), selected_tracks(), update_queue);
    return false;
  });

  // Send track(s) to top
  $('#send-to-top').on('click', function(e) {
    socket.emit('send to top', get_username(), selected_tracks(), update_queue);
    return false;
  });

  // Send track(s) to bottom
  $('#send-to-bottom').on('click', function(e) {
    socket.emit('send to bottom', get_username(), selected_tracks(), update_queue);
    return false;
  });

  $( document ).ready(function() {
    // Document is loaded so we can populate our video queue.
    console.log('requesting queue state', get_username());
    socket.emit('queue', get_username());
    $('#queue-navtab-a').click();
    update_queue_buttons();
  });

